header{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

img {
	
	border-radius: 8px;
   text-align: center;
}

.pageTitle{
	font-size: 50px;
	font-family: fantasy;
}

nav{
    height: 3em;
    background-color:lavender;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 2.01em;
}

table {
    margin-top: auto;
    text-align:center;
    background: silver;
    color: white;
    width: 50%;
    border: 1px solid;
}

.inline th, .inline td {
    padding: 7px;
    }

.inline{
	
 float: left;
}




#only_form td input{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1em;
        border-radius: 0.5em;
        height: 1.8em;
        width: 100%;
}

h2 {

    text-align: center;
}



footer{
    text-align:center;
    height: 2em;
}